@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    4/449 Punt Road<br />
    Richmond, VIC 3121<br />
    <abbr title="Phone">P:</abbr>
    042 277 2537
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">support@carsales.com.au</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@carsales.com.au</a>
</address>
