@{
    ViewData["Title"] = "Demo Elm";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <h4>Interop (moment.js)</h4>
    <div id="app-interop"></div>

    <h4>Http (ajax)</h4>
    <div id="app-http"></div>

    <script src="~/elm/demo.js"></script>
</div>

@section Scripts
{
<script>
    var appInteropEl = document.getElementById('app-interop');
    var appInterop = Elm.AppInterop.embed(appInteropEl);

    appInterop.ports.dateValidation.subscribe(function(dateString) {
        var dateTime = moment(dateString, 'DD-MM-YYYY');
        appInterop.ports.dateValidationResult.send(dateTime.isValid());
        // appInterop.ports.dateValidationResult.send(null);
    });
    
    var appHttpEl = document.getElementById('app-http');
    var appHttp = Elm.AppHttp.embed(appHttpEl);
</script>
}